@import "variables";

$spotify-logo-height: 120px;
$menu-options-height: 150px;
$between-menu: 10px;

:host {
  max-width: 300px;
  min-height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  background-color: $background-secondary;
  box-shadow: 1px 1px 15px rgba(128, 128, 128, 0.164);

  .menu {
    flex-grow: 1;
    flex-direction: column;
    height: 100%;
    padding: 0px 40px 0px 40px;

    .image-container {
      min-height: $spotify-logo-height;
      img {
        width: 70%;
      }
    }
    .menu-container {
      &.flex {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }
      width: 100%;
      &.options {
        min-height: $menu-options-height;

        * {
          margin-bottom: $between-menu;
        }
      }
      .playlist-title {
        margin: 10px 0px;
        align-self: flex-start;
        font-weight: bold;
        font-size: 0.7em;
        color: $black-transparent-30;
      }
      .playlist-scroll {
        width: 100%;
        max-height: 50vh;
        overflow-y: auto;
        &::-webkit-scrollbar {
          display: none;
        }
        * {
          margin-bottom: $between-menu;
        }
      }
    }
  }
}
